*{
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --GREY: rgba(0,0,0,0.4);
    --LIGHTGREY: rgba(0,0,0,0.1);
}

body{
    margin: 0;
    min-height: 100vh;
}

a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a:visited{
    color: var(--GREY);
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

h2{
    font-size: 1.2rem;
    color: var(--GREY);
    margin: 0;
}

p{
    margin: 0;
}

h3{
    margin: 0;
}

.button{
    color: white;
    font-weight: 600;
    padding: .5rem 1rem;                    
    background: black;
    font-size: 1.2rem;
    border: 2px solid black;
    margin: 0 0rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.button:first-child{
    margin-left: 0;
}
.button:last-child{
    margin-right: 0;
}
.button:hover{
    color: black;
    background: white;
}

.button--secondary{
    color: var(--GREY);
    background: white;
    border: 2px solid var(--GREY);
}
.button--secondary:hover{
    background: rgba(0,0,0,0.1);
}

.card{
    margin: 2rem 1rem;
    border: 1px solid var(--LIGHTGREY);
    border-radius: .5rem;
    padding: 2rem;    
}